{% from 'hospitaldetails/macros/detail_list.html' import detail_list, detail_item %}

{% call detail_list(heading="Hospital Details") %}
    {{ detail_item('Previous Names', hospital.previous_names|linebreaksdl) }}

    {% call(label, value) detail_item('Address', value=True, condition=True) %}
        {% if hospital.full_address %}
            {{ hospital.full_address }}
        {% else %}
            Unknown
        {% endif %}
    {% endcall %}
    
    {{ detail_item('Previous Locations', hospital.previous_locations|linebreaksdl) }}
    
    {% call(label, value) detail_item('Current Trust', condition=hospital.trust) %}
        {{ hospital.trust }}{% if hospital.trust_since %} (since {{ hospital.trust_since }}){% endif %}
    {% endcall %}
    
    {{ detail_item('Previous Trusts', hospital.previous_trusts|linebreaksdl) }}

    {% call(label, value) detail_item('Foundation Year', value=True, condition=True) %}
        {% if hospital.foundation_year %}
            {{ hospital.foundation_year }}{% if hospital.foundation_year_approximate %} (approximately){% endif %}
        {% else %}
            Unknown
        {% endif %}
    {% endcall %}

    {% call(label, value) detail_item('Status', value=True, condition=True) %}
        {% if hospital.closed %}Closed {% if hospital.closure_date %}(since {{ hospital.closure_date }}){% endif %}{% else %}Open{% endif %}
    {% endcall %}
{% endcall %}