{% from 'hospitaldetails/macros/detail_list.html' import detail_item, detail_list %}

{% if pre_1948_statuses or post_1948_statuses %}
    {% call detail_list(heading="Status", heading_id="status") %}
        {% call(label, value) detail_item('Pre-1948', condition=pre_1948_statuses) %}
            {% for status in pre_1948_statuses %}{{ status.value }}{% if not loop.last %}, {% endif %}{% endfor %}
        {% endcall %}
        
        {{ detail_item('Regional Board (1948-1974)', hospital.regional_board.name if hospital.regional_board else None) }}
        
        {{ detail_item('Pre-1948 information', hospital.pre_1948_status_info|linebreaksdl) }}
            
        {% call(label, value) detail_item('Post-1948', condition=post_1948_statuses) %}
            {% for status in post_1948_statuses %}{{ status.value }}{% if not loop.last %}, {% endif %}{% endfor %}
        {% endcall %}
        
        {{ detail_item('Post-1948 information', hospital.post_1948_status_info|linebreaksdl) }}
    {% endcall %}
{% endif %}
    
{% if pre_1948_types or post_1948_types %}
    {% call detail_list(heading="Type", heading_id="type") %}
        {% call(label, value) detail_item('Pre-1948', condition=pre_1948_types) %}
            {% for type in pre_1948_types %}{{ type.value }}{% if not loop.last %}, {% endif %}{% endfor %}
        {% endcall %}
        
        {{ detail_item('Pre-1948 information', hospital.pre_1948_type_info|linebreaksdl) }}
        
        {% call(label, value) detail_item('Post-1948', condition=post_1948_types) %}
            {% for type in post_1948_types %}{{ type.value }}{% if not loop.last %}, {% endif %}{% endfor %}
        {% endcall %}
        
        {{ detail_item('Post-1948 information', hospital.post_1948_type_info|linebreaksdl) }}
    {% endcall %}
{% endif %}