{% extends "base.html" %}

{%- set pageTitle = "About Hospital Records" -%}

{% block content %}
  <div class="tna-section">
    <div class="tna-container">
      <div class="tna-column tna-column--full-small tna-column--full-tiny">
        <h1 class="tna-heading-xl">About</h1>
        <h2 class="tna-heading-l tna-!--margin-top-l">The Hospital Records Database</h2>
        <p>
        The information in this database has been obtained mainly from questionnaires completed by local authority record offices, supplemented by further research. A small number of hospitals which maintain their own archives have been included, but coverage of records still held by hospitals is limited.
        </p>
        <p>
        The database is intended to be a guide to the location of hospital records, but it is not a catalogue of all hospital records in the UK. It is likely that there are many more records than those listed here, and that some of the information about the location and coverage of records is out of date.
        </p>
        <p>
          The database was archived in TODO: FIND EXACT YEAR 20XX, and has not been updated since then. The National Archives cannot guarantee the accuracy of the information, and it should be used as a guide only. If you have any information about hospital records that is not included in the database, or if you find any errors, please contact The National Archives. 
        </p>
        <p>
        Some hospital records are subject to closure periods, for example, access is not usually granted to the records of individual patients less than 100 years old, except via a doctor or social worker. It is always advisable to contact the relevant repository before you visit.
        </p>
        <p>
        If you have an enquiry about the records of specific hospitals, you should contact the relevant repository directly. While some links will be found to online catalogues of hospital records on <a href="https://www.nationalarchives.gov.uk/help-with-your-research/discovery-help/what-is-discovery/">Discovery</a>, many more catalogues will be found by searching Discovery directly.
        </p>
    </div>
    </div>
  </div>
{% endblock content %}
