{% extends "base.html" %}

{% block pageTitle %}{{ hospital.name }}{% endblock pageTitle %}

{% block content %}
<div class="tna-section tna-!-padding-top-l">
    <div class="tna-container">

        <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full tna-column--full-small tna-column--full-tiny">
            <hgroup class="tna-hgroup-xl">
                <p class="tna-hgroup__supertitle">Hospital</p>
                <h1 class="tna-hgroup__title">{{ hospital.name }}</h1>
            </hgroup>
        </div>

    </div>

    {% include "hospitaldetails/includes/details.html" %}

    {% include "hospitaldetails/includes/administration.html" %}

    {% include "hospitaldetails/includes/status_and_type.html" %}

    {% include "hospitaldetails/includes/other_information.html" %}

    {% include "hospitaldetails/includes/records.html" %}
</div>
{% endblock content %}