{% extends "base.html" %}

{% block pageTitle %}Repositories{% endblock pageTitle %}

{% block content %}
<div class="tna-container">
  <div class="tna-column tna-column--full">
    <h1 class="tna-heading-xl">Repositories</h1>

    {% if repositories %}
    <p>Found {{ repositories|length }} repositor{% if repositories|length == 1 %}y{% else %}ies{% endif %}.</p>

    <div class="tna-results">
      {% for repository in repositories %}
      <div class="tna-card">
        <h2 class="tna-heading-m">
          <a href="{{ url_for('hospitaldetails:repository_detail', kwargs={'id': repository.id}) }}">{{ repository.name }}</a>
        </h2>

        {% if repository.town or repository.county %}
        <p class="tna-small-paragraph">
          {% if repository.town %}{{ repository.town }}{% endif %}{% if repository.town and repository.county %}, {% endif %}{% if repository.county %}{{ repository.county }}{% endif %}
        </p>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% else %}
    <p>No repositories are available yet.</p>
    {% endif %}
  </div>
</div>
{% endblock content %}
