{% from 'hospitaldetails/macros/block_heading.html' import block_heading %}

{% macro detail_list(heading=None, heading_id=None) %}
{% if heading %}
    {{ block_heading(heading, heading_id) }}
{% endif %}

<div class="tna-container">
    <div class="tna-column tna-column--full tna-!--margin-top-s">
        <dl class="tna-dl tna-dl--zebra">
            {{ caller() }}
        </dl>
    </div>
</div>
{% endmacro %}

{% macro detail_item(label, value=None, condition=True) %}
    {% if condition and (value or caller is defined) %}
        <dt>{{ label }}</dt>
        {% if caller is defined %}
            <dd>{{ caller()|abbr }}</dd>
        {% else %}
            {% if value and '<dd>' in value %}
                {{ value|abbr }}
            {% else %}
                <dd>{{ value|abbr }}</dd>
            {% endif %}
        {% endif %}
    {% endif %}
{% endmacro %}
