{% from 'hospitaldetails/macros/block_heading.html' import block_heading %}

{% macro detail_list(heading=None) %}
{% if heading %}
    {{ block_heading(heading) }}
{% endif %}

<div class="tna-container">
    <div class="tna-column tna-column--full tna-!--margin-top-s">
        <dl class="tna-dl tna-dl--zebra">
            {{ caller() }}
        </dl>
    </div>
</div>
{% endmacro %}

{% macro detail_item(label, value=None, condition=True) %}
    {% if condition and (value or caller is defined) %}
        <dt>{{ label }}</dt>
        <dd>{% if caller is defined %}{{ caller() }}{% else %}{{ value }}{% endif %}</dd>
    {% endif %}
{% endmacro %}
